<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<!-- <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" /> -->
				<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logotec.png" />
			</div>
		</div>

		<center>
			<h2>
				Servicio de monitoreo de transportes escolares
			</h2>
		</center>

		<div class="row">
			<div class="col-md-3">
				Lic. Galeana Laín Ricardo
				<br>
				rgaleana@itculiacan.edu.mx
			</div>
			<div class="col-md-3">
				Ing. Isijara Medina Ramón Alberto
				<br>
				risijara@itculiacan.edu.mx
			</div>
			<div class="col-md-3">
				Dr. Quintero Meza Ricardo
				<br>
				rquintero@itculiacan.edu.mx
			</div>
			<div class="col-md-3">
				Ing. Zambado Tinoco Juan
				jzambada@itculiacan.edu.mx
			</div>
		</div>





	</div>


	<div class="row">
	  <div class="col-sm-6 col-md-4">
		    <div class="thumbnail">
		      <img data-src="holder.js/300x300" alt="...">
		      <div class="caption">
		        <h3>Thumbnail label</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
		      </div>
	    </div>
	  </div>
	</div>



</section>
