<section class="row" data-ng-controller="AuthenticationController">
	<br><br>
	<h3 class="col-md-12 text-center">Login</h3>
	<br>
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
		<form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
				<div class="form-group">
					<div class="input-group ">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-user"></i>
						</span>
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Usuario">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">
							<i class="text-muted glyphicon glyphicon-asterisk"></i>
						</span>
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Contraseña">
					</div>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-success btn-block">Login</button>
				</div>
				<div class="forgot-password">
					<center>
						<a href="/#!/password/forgot">¿Olvidaste la contraseña?</a> / <a href="/#!/signup">Registro</a>
					</center>

				</div>
			</fieldset>
		</form>
	</div>
</section>
