<section data-ng-controller="GeopointsController">
    <div class="page-header">
        <h1>Rastreo de unidad</h1>
    </div>
    <div class="col-md-12">
        <form class="" data-ng-submit="close()" novalidate>
            <fieldset>

                <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>

                    <ui-gmap-polyline data-ng-show="showPolyline"
                        ng-repeat="p in megaline"
                        path="p.path" stroke="p.stroke"
                        visible='p.visible'
                        fit="false"
                        editable="p.editable"
                        draggable="p.draggable"
                        icons='p.icons'>
                    </ui-gmap-polyline>
                </ui-gmap-google-map>

                <div class="row">
                    <div class="form-group">
                        <div data-ng-show="error" class="text-center text-danger">
                            <div class="alert alert-danger" role="alert">
                                <strong data-ng-bind="error">Alerta! ¡Ha superado los 50km/h!</strong>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 text-center">
                        <i class="glyphicon glyphicon-map-marker cust-profile text-primary"></i>
                    </div>
                    <div class="col-sm-6">
                        <!--
                        <div class="form-group">
                            <label class="control-label" for="vendor">Vendor</label>
                            <div class="controls">
                                <input type="text" data-ng-model="vendor" placeholder="Vendor" id="vendor" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="typeofthing">Type Of Thing</label>
                            <div class="controls">
                                <input type="text" placeholder="Type of thing" data-ng-model="typeofthing" id="typeofthing" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="classification">Classification Of Thing</label>
                            <div class="controls">
                                <input type="text" data-ng-model="classification" id="classification" class="form-control">
                            </div>
                        </div>
                        -->
                        <div class="form-group">
                            <label class="control-label" for="latitude">Latitud</label>
                            <div class="controls">
                                <input placeholder="Latitud" type="text" data-ng-model="latitude" id="latitude" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="longitude">Longitud</label>
                            <div class="controls">
                                <input placeholder="Longitud" type="text" data-ng-model="longitude" id="longitude" class="form-control">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label" for="speedkph">Velocidad en kilómetros por hora</label>
                            <div class="controls">
                                <input placeholder="Velocidad" type="text" data-ng-model="speedkph" id="speedkph" class="form-control">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-push-6">
                        <div class="form-group">
                            <label class="control-label" for="timetoconnect">Tiempo de conexión</label>
                            <div class="controls">
                                <input placeholder="Tiempo de conexión" type="text" data-ng-model="timetoconnect" id="timetoconnect" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-sm-pull-6">
                        <div class="form-group">
                            <label class="control-label" for="numsatellites">Number Of Satellites Connected</label>
                            <div class="controls">
                                <input placeholder="Satélites conectados" type="text" data-ng-model="numsatellites" id="numsatellites" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-12">
                        <div class="form-group pull-right">
                            <button type="submit" class="btn btn-lg btn-success">
                                Close
                            </button>
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>
    </div>
</section>
