<section data-ng-controller="GeopointsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Geopoints</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="geopoint in geopoints" data-ng-href="#!/geopoints/{{geopoint._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="geopoint.created | date:'medium'"></span>
				by
				<span data-ng-bind="geopoint.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="geopoint.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!geopoints.$resolved || geopoints.length">
    	No Geopoints yet, why don't you <a href="/#!/geopoints/create">create one</a>?
    </div>
</section>